

    <header>
        <div class="container">
            <div class="logo">
                    <a href="{{ path('app_accueil') }}">
                    <img src="{{asset("assets/logo.svg")}}" alt="Logo">
            </a>
            </div>
            <div class="menu-icon">
                <a href="javascript:void(0);">
                <img src="{{asset("assets/menu.png")}}" alt="Menu" width ="50">
            </a>
            </div>
            <nav>
                <ul>
                    <li><a href="{{ path('protocole', {'protocolId': 5}) }}">Travail</a></li>
                    <li><a href="{{ path('protocole', {'protocolId': 4}) }}">Sport</a></li>
                    <li><a href="{{ path('app_bien_etre') }}">Bien-être</a></li>
                    <li><a href="{{ path('app_articles') }}">Articles</a></li>
                </ul>
            </nav>
            <div class="profile-icon">
            <a href="{{ path('app_login') }}">  <img src="{{asset("assets/icon_personne.svg")}}" alt="Profile Icon"></a>
            </div>
        </div>
    </header>


