{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/header.css')}}">
{% endblock %}

{% block javascripts %}
<script src="{{asset('JS/script.js')}}"></script>
{% endblock %}

{% block body %}
<div class="livebar">
    <p><a href="{{ path('app_accueil') }}" target="blank">Accéder au site</a></p>
</div>

<div class="admin-container">
    <div class="admin-dashboard-header">
        <h1><a href="{{ path('app_admin') }}">Tableau de bord</a></h1>
    </div>
    <div class="admin-detail-container">
        <div class="admin-detail-header">
            <h1>Articles</h1>
        </div>

        <table class="admin-detail-table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ article.id }}</td>
                </tr>
                <tr>
                    <th>Image mise en avant</th>
                    <td><img src="{{ asset('assets/' ~ article.getImageArticle() ) }}" alt="Profile Icon" class="list_article_img_admin"></td>
                </tr>
                <tr>
                    <th>Titre</th>
                    <td>{{ article.titreArticle }}</td>
                </tr>
                <tr>
                    <th>Contenu</th>
                    <td>{{ article.contenuArticle }}</td>
                </tr>
                <tr>
                    <th>Date de création</th>
                    <td>{{ article.dateCreationArticle ? article.dateCreationArticle|date('Y-m-d') : '' }}</td>
                </tr>
                <tr>
                    <th>Source</th>
                    <td>{{ article.sourceArticle }}</td>
                </tr>
                <tr>
                    <th>Auteur</th>
                    <td>{{ article.auteurArticle }}</td>
                </tr>
                <!-- Ajoutez plus de champs si nécessaire -->
            </tbody>
        </table>

        <div class="admin-detail-actions">
            <a href="{{ path('app_articles2_index') }}">Retour à la liste</a>
            <a href="{{ path('app_articles2_edit', {'id': article.id}) }}">Modifier</a>
            <div style="display:inline-block;">{{ include('articles2/_delete_form.html.twig') }}</div>
        </div>
    </div>
</div>
{% endblock %}
