{% if app.user %}
    <h3>SEMAINE ASSOCIEE</h3>

    {% for i in 0..semaines|length-1 %}
        {% set semaine = semaines[i] %}
        <h4>{{ semaine.getTitreSemaine() }}</h4>
        <p>Date de début: {{ semaine.getDateDebutSemaine()|date('d/m/Y') }}</p>
        <p class="list_exercice"><b>Exercices liés à la semaine</b></p>

        {% for exercice in semaine.getExercices() %}
            <p><b>Titre Exercice :</b> {{ exercice.getTitreExercice() }}</p>
            <p><b>Durée Exercice :</b>{{ exercice.getDureeExercice() }} min</p>
            <p><b>Fréquence Exercice :</b>{{ exercice.getFrequenceExercice() }} fois</p>
            <p><b>Description :</b> {{ exercice.getDescriptionExercice() }} </p>
            <video  controls loop>
                <source src="{{ asset('assets/' ~ exercice.getContenuFacileExercice() )}}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        {% endfor %}

        {% if i < semaines|length-1 %}
            <hr> <!-- Ligne de séparation entre les semaines -->
        {% endif %}
    {% endfor %}

    <a href="{{ path('exercices_by_protocol_and_week', {'protocolId': protocole.id, 'weekId': semaine.nextWeek.id}) }}">Semaine Suivante</a>
{% endif %}
