{% block stylesheets %}
        <link rel="stylesheet" href="{{asset('css/header.css')}}">
{% endblock %}

{% block javascripts %}
        <script src="{{asset('JS/script.js')}}"> </script>
{% endblock %}

{% block body %}
<div class="livebar">
        <p><a href="{{ path('app_accueil') }}" target ="blank">Accéder au site</a></p>
</div>

<div class="admin-container">
    <div class="admin-dashboard-header">
        <h1><a href="{{ path('app_admin') }}">Tableau de bord</a></h1>
</div>
   <div class="admin-formview-container">
    

    <h2>Index des Exercices</h2>
    <a href="{{ path('app_modifications_exercices_new') }}" class="admin-formview-create-new-button">+</a>
    <table class="admin-formview-table">
        <thead>
            <tr>
                <th>Titre</th>
                <th>Duree de l'exercice</th>
                <th>Etat de l'exercice</th>
                <th>Semaine Associée</th>
                <th>Protocole Associé</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for exercice in exercices %}
                <tr>
                    <td>{{ exercice.titreExercice }}</td>
                    <td>{{ exercice.dureeExercice }}</td>
                    <td>{{ exercice.etatExercice ? 'Activé' : 'Désactivé' }}</td>
                    <td>{{ exercice.semaines ? exercice.semaines.titreSemaine : 'Non assigné' }}</td> <!-- Affichage du titre de la semaine -->
                    <td>{{ exercice.protocoles ? exercice.protocoles.nomProtocole : 'Non assigné' }}</td>
                    <td class="admin-formview-action-buttons">
                        <a href="{{ path('app_modifications_exercices_show', {'id': exercice.id}) }}">Afficher</a>
                        <a href="{{ path('app_modifications_exercices_edit', {'id': exercice.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">Aucun enregistrement trouvé</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    
</div>
{% endblock %}
