{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/header.css')}}">
{% endblock %}

{% block title %}Hello SportController!{% endblock %}

{% block body %}
{% include 'Composer/header.html.twig'%}

{% if not app.user %}
    <a href="{{ path('app_register') }}" class="btn-primary">S'abonner</a>
   
{% endif %}





<h1>Protocole {{protocole.getNomProtocole() }}</h1> 
<p>{{protocole.getDescriptionProtocole() }} </p> 
<p>il coûte {{protocole.getPrixProtocole ()}} €</p>

<h3>Liste des Exercices liés au Protocole </h3>
<ul>
    {% for exercice in exercices %}
        
       {% set semaine = exercice.getSemaines() %}
    {% if semaine is not null %}
        <h3>Semaine associée</h3>
        <p>Titre: {{ semaine.getTitreSemaine() }}</p>
        <p>Date de début: {{ semaine.getDateDebutSemaine()|date('d/m/Y') }}</p>
        <!-- Ajoutez d'autres champs de la semaine si nécessaire -->
    {% endif %}
        <p>{{ exercice.getTitreExercice() }}</p>
        <p>{{ exercice.getDureeExercice() }} min</p>
        <p>{{ exercice.getFrequenceExercice() }} fois</p>
        <p>Voici la description de l'exexercice : {{ exercice.getDescriptionExercice() }} </p>
        <!-- A<>utez d'autres champs de l'exercice si nécessaire -->
    {% endfor %}
</ul>

{% endblock %}