{% extends 'base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/header.css')}}">
{% endblock %}

{% block title %}Hello SportController!{% endblock %}

{% block body %}

<h1>Protocole {{protocole.getNomProtocole() }}</h1> 

{% if not app.user %}
    <p>Vous n'êtes pas abonné au protocole, veuillez souscrire : </p>
    <a href="{{ path('app_register') }}" class="btn-primary">S'abonner</a>
{% endif %}

<h3>DESCRIPTION</h3>
<p>{{ protocole.getDescriptionProtocole() }} </p> 
<h3>PRIX</h3>
<p>Il coûte {{ protocole.getPrixProtocole() }} €</p>

{% if app.user %}
    <h3>SEMAINE ASSOCIEES</h3>
    <ul>
        {% for exercice in exercices %}
            {% set semaine = exercice.getSemaines() %}
            {% if semaine is not null %}
                <h4>{{ semaine.getTitreSemaine() }}</h4>
                <p>Date de début: {{ semaine.getDateDebutSemaine()|date('d/m/Y') }}</p>
             {% endif %}
            <p class="list_exercice"><b>Exercices liés à la semaine</b></p>
            <p><b>Titre Exercice :</b> {{ exercice.getTitreExercice() }}</p>
            <p><b>Durée Exercice :</b>{{ exercice.getDureeExercice() }} min</p>
            <p><b>Fréquence Exercice :</b>{{ exercice.getFrequenceExercice() }} fois</p>
            <p><b>Description :</b> {{ exercice.getDescriptionExercice() }} </p>
            <video  controls loop>
                <source src="{{ asset('assets/' ~ exercice.getContenuFacileExercice() )}}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        {% endfor %}
    </ul>
{% endif %}
{% endblock %}