{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}

{% block stylesheets %}
<link rel="stylesheet" href="{{asset('css/header.css')}}">
{% endblock %}

{% block javascripts %}
<script src="{{ asset('JS/script.js') }}"></script>
{% endblock %}

{% include 'modal/index.html.twig' %}



<div class="all">
    <div class="banniere">
        <img class="ban" src="{{ asset("assets/Rectangle3.png") }}" alt="Prevention sport banniere">
        <div class="overlay-content">
            <h1>Prévention Sport</h1>
            <p class="para_banniere">Optimisez vos performances et préservez votre santé avec nos programmes sportifs sur-mesure, <br>
            adaptés à votre activité professionnelle et à votre discipline sportive.<br> Prévenez les blessures et améliorez votre condition physique
            pour exceller dans votre métier et votre passion.</p>
            <button onclick="location.href='#'">Je découvre</button>
        </div>
    </div>
</div>


    <div class="proto_accueil">
        <h2>NOS PROTOCOLES</h2>
    </div>
</div>

<div class ="protocole_container">
    <div id="carousel" class="carousel">
        <img class="border_rounded" src="{{asset('assets/sport1.jpg')}}" alt="Image 1">
        <img class="border_rounded" src="{{asset('assets/sport2.jpg')}}" alt="Image 2">
        <img class="border_rounded" src="{{asset('assets/sport3.jpg')}}" alt="Image 3">
    </div>
    <div class="protocole_sportif">
    <h3>PROTOCOLE SPORTIF</h3>
    <p class="texteblanc">Je veux suivre le protocole sportif</p>
    <a href="{{ path('protocole', {'protocolId': 4}) }}" class="btn-primary btn-abonnement blue">C'est parti</a>
    </div>
</div>

<div class ="protocole_container">
    <div class="protocole_travail">
    <h3>PROTOCOLE TRAVAIL</h3>
    <p class="texteblanc">Je sélectionne mon métier</p>   
    <!-- Bouton pour ouvrir le modal -->
    <a href="#" class="btn-primary btn-abonnement" id="openModalButton">C'est parti</a>
    </div>    
    <div id="carousel2" class="carousel">
        <img class="border_rounded" src="{{asset('assets/travail1.jpg')}}" alt="Image 1">
        <img class="border_rounded" src="{{asset('assets/travail2.jpg')}}" alt="Image 2">
        <img class="border_rounded" src="{{asset('assets/travail3.jpg')}}" alt="Image 3">    
    </div>
</div>




<div class="arcticle_accueil">
        <h2>ARTICLES</h2>
    </div>
    
    <div class="article-container">
    {% for article in articles %}
    <div class="article">  
        <img src="{{ asset('assets/' ~ article.getImageArticle() ) }}" alt="Profile Icon" class="list_article_img">
        <h3>{{ article.getTitreArticle() }}</h3>
        <a href="{{ path('article', {'articleId': article.getId()}) }}" class="btn-primary">Voir plus</a>
    </div>
    {% endfor %}
</div>


{% endblock %}
